<h1>Picture Manager</h1>
<div class="col-md-12 row">
    <div id="@GridViewId" style="height:80vh" class="col-md-12 ag-theme-alpine">
    </div>
</div>

<div class="col-md-12 row">
    <WindowsFolderPicker Name="Add Folder" class="col-md-2" OnFileDialogFinished="OnFolderSelected"></WindowsFolderPicker>
    <WindowsFilePicker Name="Change Filepath" class="ms-2 col-md-2"
                       disabled="@(_selectedPictures==null)" OnFileDialogFinished="UpdatePicturePath"></WindowsFilePicker>
    <Button class="ms-2 col-md-2 btn btn-primary" disabled="@(_selectedPictures==null)" OnClickAsync="ShowNewPictures">Search new Pictures</Button>
    <Button class="ms-2 col-md-2 btn btn-danger" disabled="@(_selectedPictures==null)" OnClickAsync="DeletePictures">Delete</Button>
    @if (_selectedPictures?.Any(sp => _newPictureByNegativeId.ContainsKey(sp)) == true)
    {
        <Button class="ms-2 col-md-2 btn btn-success" disabled="@(_selectedPictures==null)" OnClickAsync="AddSelectedNewPictures">Add new Pictures</Button>
    }
    <Button class="ms-2 col-md-2 btn btn-dark" disabled="@(_selectedPictures==null)" OnClick="ShowModal">Card References</Button>
</div>

