<h1>Picture Manager</h1>
<div class="col-md-12 row">
    <div style="height:80vh;overflow-y:scroll" class="col-md-8">
        @foreach (var picture in _pictures.Where(p => p.Path.StartsWith(_selectedPath)))
        {
            <div @onclick="()=>PictureSelected(picture.Id)"
                 style="cursor:pointer;background-color:@(GetBackgroundColor(picture.Id))">
                @picture.Name
            </div>
        }
    </div>
    <div style="height:80vh;overflow-y:scroll" class="col-md-4">
        @foreach (var path in _relativePaths)
        {
            <div @onclick="@(()=>_selectedPath=path)" class="alert p-0 @(_selectedPath==path?"alert-info":"")">@path</div>
        }
    </div>
</div>

<div class="col-md-12 row">
    <WindowsFolderPicker Name="Update Folder" class="col-md-2" OnFileDialogFinished="OnFolderSelected"></WindowsFolderPicker>
    <WindowsFilePicker Name="Change Filepath" class="ms-2 col-md-2" disabled="@(_selectedPicture==null)" OnFileDialogFinished="UpdatePicturePath"></WindowsFilePicker>
    <Button class="ms-2 col-md-2 btn btn-danger" disabled="@(_selectedPicture==null)" OnClick="DeletePicture">Delete</Button>
</div>

