@implements IDisposable
@using Blazored.Modal;
@using Toolbelt.Blazor.HotKeys2;
@using System.Text.Json.Nodes;
@using System.Text.Json;
@using TheCardEditor.DataModel.DTO;
<div style="height:80vh;width:90vw;overflow:scroll" class="col-md-12 row">
    <canvas style="border:1px solid #000000" id="@CanvasId" width="@Width" height="@Height"></canvas>
    <div style="width: calc(85vw - @(Width)px)">
        <FloatingInput Label="Cardname" ValueSelector="@(()=>_currentCard.Name)" InputChanged="@(n=>_currentCard.Name=n)"></FloatingInput>
        <div class="col-md-12 row mt-2">
            <FloatingInput class="col-md-3" Label="New Text" ValueSelector="@(()=>AddNewText)" InputChanged="@(n=>AddNewText=n)"></FloatingInput>
            <div class="col-md-3">
                <select value="@AddTag" @onchange="@(arg=>AddTag=arg.Value?.ToString()??"")" class="form-control col-md-3">
                    @foreach (var tag in Tags)
                    {
                        <option value="@tag">@tag</option>
                    }
                </select>
            </div>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await AskForNewTag())">New Tag</Button>
            <FloatingNumericInput class="col-md-2" Label="X" DisabledSelector="@(()=>_multipleObjectsAreSelected)"
                                  ValueSelector="@( ()=>AddObjectX)" InputChanged="@( async x=>await OnCoordinatesChanged((int)x,null))"></FloatingNumericInput>
            <FloatingNumericInput DisabledSelector="@(()=>_multipleObjectsAreSelected)" class="col-md-2" Label="Y"
                                  ValueSelector="@( ()=>AddObjectY)" InputChanged="@(async y=>await OnCoordinatesChanged(null,(int)y))"></FloatingNumericInput>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await AddText())">+</Button>
            <Button class="btn btn-danger col-md-1" OnClick="@(async ()=>await RemoveObject())">-</Button>
            <div class="col-md-12 mt-2"></div>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.FontWeight,"bold"))">Bold</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.FontStyle,"italic"))">Italic</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.TextAlign,"left"))">Left</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.TextAlign,"right"))">Right</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.TextAlign,"center"))">Text Center</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.TextAlign,"justify"))">Justify</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.Fill,""))">Fill</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.Linethrough,true))">Linethrough</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.Stroke,"red"))">Stroke</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await ApplyFont(CanvasFontStyle.Clear,true))">Clear</Button>
            <Button class="btn btn-primary col-md-1" OnClick="@(async ()=>await CenterObjects())">Center</Button>
            <div class="col-md-6">
                <DataList LabelText="Add Picture"  SelectedItemChanged="SelectedPictureChanged" Items="@_pictures"></DataList>
                <Button></Button>
            </div>
            <FloatingNumericInput class="col-md-2" Label="Size" ValueSelector="@( ()=>FontSize)"
                                  InputChanged="@(async y=>{FontSize=(int)y;await ApplyFont(CanvasFontStyle.FontSize,FontSize);})"></FloatingNumericInput>
            <div class="col-md-12 mt-2"></div>
            <div class="col-md-3">
                <select @onchange="@(arg=>_selectedFont=arg.Value?.ToString()??"")" class="form-control col-md-3">
                    @foreach (var option in ApplicationStorage.AvailableFonts)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            </div>
            <Button class="btn btn-primary col-md-1" OnClickAsync="@(async ()=>await ApplyFont(CanvasFontStyle.FontFamily,_selectedFont))">Apply Font</Button>
        </div>
        <Button OnClickAsync="@(async()=>await SaveCard())" class="btn btn-primary mt-2">Save</Button>
        <Button OnClickAsync="@(async()=>await Reset())" class="btn btn-danger mt-2">Reset</Button>
    </div>
</div>

