@using System.Security.Cryptography;
@using TheCardEditor.DataModel.DTO;
@using Microsoft.AspNetCore.Components.Forms
<div class="col-md-12 row">
    <div class="col-md-4">
        <h2>Games</h2>
        @foreach (var game in Games)
        {
            <div @onclick="()=>GameSelected(game)" style="background-color:@(_selectedGame.Id==game.Id?"lightblue":"")">
                <label class="col-form-label-lg">@game.Name</label>
            </div>
        }
        <FloatingInput ValueSelector="()=>_selectedGame.Name" Label="Game Name" InputChanged="a=>_selectedGame.Name=a" />
        <Button class="btn btn-primary" OnClick="()=>{_selectedGame.Id=0; UpsertGame();}">Add Game</Button>
        <Button disabled="@(_selectedGame.Id==0)" class="btn btn-primary" OnClick="UpsertGame">Update Game</Button>
        <Button disabled="@(_selectedGame.Id==0)" class="btn btn-primary" OnClick="DeleteGame">Delete Game</Button>
    </div>
    <div class="col-md-4">
        <h2>Card Set</h2>
        @if (_selectedGame.Id != 0)
        {
            @foreach (var cardSet in CardSets)
            {
                <div @onclick="@(()=>_selectedCardSet=cardSet)" style="background-color:@(_selectedCardSet.Id==cardSet.Id?"lightblue":"")">
                    <label class="col-form-label-lg">@cardSet.Name</label>
                </div>
            }
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <FloatingInput ValueSelector="()=>_selectedCardSet.Name" Label="Name" InputChanged="a=>_selectedCardSet.Name=a" />
                </div>
                <div class="col-md-3">
                    <FloatingNumericInput ValueSelector="()=>_selectedCardSet.Height" Label="Height" InputChanged="a=>_selectedCardSet.Height=(long)a" />
                </div>
                <div class="col-md-3">
                    <FloatingNumericInput ValueSelector="()=>_selectedCardSet.Width" Label="Width" InputChanged="a=>_selectedCardSet.Width=(long)a" />
                </div>
            </div>
            <Button class="btn btn-primary" OnClick="()=>{_selectedCardSet.Id=0; UpsertCardSet();}">Add Card Set</Button>
            <Button class="btn btn-primary" OnClick="()=>UpsertCardSet()">Update Set Name</Button>
            <Button disabled="@(_selectedCardSet.Id==0)" class="btn btn-primary" OnClick="DeleteCardSet">Delete Card Set</Button>
        }
    </div>
    <div class="col-md-4">
        <h2>Fonts</h2>
        @foreach (var font in Fonts)
        {
            <div class="col-md-12 row" style="background-color:@(_selectedFont?.Id==font.Id?"lightblue":"")" @onclick="@(()=>_selectedFont=font)">
                <label style="font-family:@font.Name" class="col-form-label-lg col-md-6">@font.Name</label>
                <label class="col-form-label col-md-6">@(Convert.ToBase64String(MD5.HashData(Convert.FromBase64String(font.Base64Data)))[..12])</label>
            </div>
        }
        <div class="col-md-12">
            <div class="col-md-8">
                <FloatingInput ValueSelector="()=>_selectedFont.Name" Label="Font Name" InputChanged="a=>_selectedFont.Name=a" />
                <InputFile class="form-control" OnChange="LoadFile"></InputFile>
            </div>
            <Button OnClickAsync="async ()=>{_selectedFont.Id=0; await UpsertFont();}" class="btn btn-primary">Add Font</Button>
            <Button disabled="@(_selectedFont.Id==0)" OnClickAsync="async ()=>await UpsertFont()" class="btn btn-primary">Update Font</Button>
            <Button disabled="@(_selectedFont.Id==0)" OnClick="DeleteFont" class="btn btn-primary">Delete Font</Button>
        </div>
    </div>
    <div class="col-md-12 d-flex flex-row-reverse">
        <Button OnClickAsync="async ()=>await SelectCardAndGame()" disabled="@(_selectedCardSet.Id==0 || _selectedGame.Id==0)" class="mt-5 btn btn-success">Select Card Set and Game</Button>
    </div>
</div>

@code {
    [Inject] private ServiceAccessor<FontService> FontService { get; set; } = default!;
    [Inject] private ServiceAccessor<GameService> GameService { get; set; } = default!;
    [Inject] private ServiceAccessor<CardSetService> CardSetService { get; set; } = default!;
    [Inject] private IJsInterop JsInterop { get; set; } = default!;
    [Inject] private ApplicationStorage ApplicationStorage { get; set; } = default!;
    private FontModel _selectedFont = new();
    private IEnumerable<FontModel> Fonts { get; set; } = new List<FontModel>();
    private IEnumerable<GameModel> Games { get; set; } = new List<GameModel>();
    private IEnumerable<CardSetModel> CardSets { get; set; } = new List<CardSetModel>();
    private GameModel _selectedGame = new();
    private CardSetModel _selectedCardSet = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        Fonts = FontService.Execute(f => f.GetFonts());
        Games = GameService.Execute(s => s.GetGames());
        foreach (var font in Fonts)
        {
            await JsInterop.LoadFont(font.Name, font.Base64Data);
        }
        StateHasChanged();
    }
    public async Task SelectCardAndGame()
    {
        ApplicationStorage.SelectedCardSet = _selectedCardSet;
        ApplicationStorage.SelectedGame = _selectedGame;
        await ApplicationStorage.OnCardSelectionChanged();
    }
    public void GameSelected(GameModel model)
    {
        _selectedGame = model;
        ReloadCardSets();
    }
    private void ReloadCardSets()
    {
        CardSets = CardSetService.Execute((s, g) => s.GetCardSets(g.Id), _selectedGame);
        _selectedCardSet = new() { GameFk = _selectedGame.Id, Name = "" };
        StateHasChanged();
    }
    private void ReloadGames()
    {
        Games = GameService.Execute(s => s.GetGames());
        _selectedGame = new();
        StateHasChanged();

    }
    public void DeleteCardSet()
    {
        CardSetService.Execute((s, c) => s.DeleteCardSet(c), _selectedCardSet);
        ReloadCardSets();
    }
    public void UpsertCardSet()
    {
        CardSetService.Execute((s, c) => s.UpdateCardSet(c), _selectedCardSet);
        ReloadCardSets();
    }

    public void UpsertGame()
    {
        GameService.Execute((s, g) => s.UpdateGame(g), _selectedGame);
        ReloadGames();
    }

    public void DeleteGame()
    {
        GameService.Execute((s, g) => s.DeleteGame(g), _selectedGame);
        ReloadGames();
    }

    public async Task LoadFile(InputFileChangeEventArgs args)
    {
        var memoryStream = new MemoryStream();
        await args.File.OpenReadStream(1024 * 1014 * 4).CopyToAsync(memoryStream);
        var base64File = Convert.ToBase64String(memoryStream.ToArray());
        _selectedFont.Base64Data = base64File;
    }
    public void DeleteFont()
    {
        FontService.Execute((s, f) => s.DeleteFont(f), _selectedFont);
        ReloadFonts();
    }

    public async Task UpsertFont()
    {
        FontService.Execute((s, f) => s.UpdateFont(f), _selectedFont);
        await JsInterop.LoadFont(_selectedFont.Name, _selectedFont.Base64Data);
        ReloadFonts();
    }

    private void ReloadFonts()
    {
        Fonts = FontService.Execute(f => f.GetFonts());
        _selectedFont = new();
        StateHasChanged();
    }
}